In [154]:
import math as mt
import numpy as np
import pandas as pd
from scipy.stats import norm
import datetime
import scipy.stats as stats

In [224]:
df = pd.DataFrame(columns=['datetime', 'id', 'exp_type', 'sodium_mg', 
                           'exercise_cal', 'group', 'blood_pressure'])

In [225]:
dt = []

for i in range(1, 12):
    for j in range(1, 20):
        dt.append(datetime.date(2019, i, j))

In [226]:
df['datetime'] = pd.to_datetime(dt)

In [227]:
df.head()

    datetime   id exp_type sodium_mg exercise_cal group blood_pressure
0 2019-01-01  NaN      NaN       NaN          NaN   NaN            NaN
1 2019-01-02  NaN      NaN       NaN          NaN   NaN            NaN
2 2019-01-03  NaN      NaN       NaN          NaN   NaN            NaN
3 2019-01-04  NaN      NaN       NaN          NaN   NaN            NaN
4 2019-01-05  NaN      NaN       NaN          NaN   NaN            NaN

In [228]:
df['id'][0:104] = 'Y' 
df['id'][105:209] = 'C'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [229]:
df['exp_type'] = 'health'

In [234]:
# df['sodium_mg'][0:104] = 2000
# df['sodium_mg'][105:209] = 1000

df['sodium_mg'][0:104] = np.random.randn(104) + 140
df['sodium_mg'][105:209] = np.random.randn(104) + 120

# a = np.random.randn(104) + 140
# b = np.random.randn(104) + 120

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [235]:
df['exercise_cal'] = 150

In [236]:
df['group'][0:104] = 'A'#control
df['group'][105:209] = 'B' #treatment

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [237]:
df['blood_pressure'][0:104] = 140 #control
df['blood_pressure'][105:209] = 110 #treatment

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [238]:
df['blood_pressure'] = pd.to_numeric(df['blood_pressure'])

In [239]:
df.head()

    datetime id exp_type sodium_mg  exercise_cal group  blood_pressure
0 2019-01-01  Y   health   139.745           150     A           140.0
1 2019-01-02  Y   health    141.36           150     A           140.0
2 2019-01-03  Y   health   140.526           150     A           140.0
3 2019-01-04  Y   health     140.8           150     A           140.0
4 2019-01-05  Y   health   138.951           150     A           140.0

In [240]:
ab_summary = df.pivot_table(values='blood_pressure', index='group', aggfunc=np.mean)

In [241]:
ab_summary

       blood_pressure
group
A               140.0
B               110.0

In [242]:
df.head()

    datetime id exp_type sodium_mg  exercise_cal group  blood_pressure
0 2019-01-01  Y   health   139.745           150     A           140.0
1 2019-01-02  Y   health    141.36           150     A           140.0
2 2019-01-03  Y   health   140.526           150     A           140.0
3 2019-01-04  Y   health     140.8           150     A           140.0
4 2019-01-05  Y   health   138.951           150     A           140.0

In [243]:
## Calculate the Standard Deviation
#Calculate the variance to get the standard deviation

#For unbiased max likelihood estimate we have to divide the var by N-1, and therefore the parameter ddof = 1
var_a = a.var(ddof=1)
var_b = b.var(ddof=1)

In [244]:
#std deviation
s = np.sqrt((var_a + var_b)/2)
s

0.8954187789769759

In [245]:
## Calculate the t-statistics
t = (a.mean() - b.mean())/(s*np.sqrt(2/N))

In [246]:
## Compare with the critical t-value
#Degrees of freedom
df = 2*N - 2

In [247]:
#p-value after comparison with the t 
p = 1 - stats.t.cdf(t,df=df)

In [248]:
print("t = " + str(t))
print("p = " + str(2*p))
### You can see that after comparing the t statistic with the critical t value (computed internally) we get a good p value of 0.0005 and thus we reject the null hypothesis and thus it proves that the mean of the two distributions are different and statistically significant.

t = 50.12748195315926
p = 0.0

In [249]:
## Cross Checking with the internal scipy function
t2, p2 = stats.ttest_ind(a,b)
print("t = " + str(t2))
print("p = " + str(p2))

t = 86.82334559836382
p = 4.187208572498154e-63

In [251]:
if p2 < 0.05: 
    print('Good new!! There is a statistically significant drop in your blood pressure with your treatment!!')
else:
    print('There is no statistically significant drop in your blood pressure when you eat a 1000mg sodium diet vs. a 2000 mg sodium diet')

Good new!! There is a statistically significant drop in your blood pressure with your treatment!!